In [1]:
import pandas as pd

oil_df = pd.read_csv("https://raw.githubusercontent.com/datasets/oil-prices/main/data/wti-daily.csv")

oil_df

             Date  Price
0      1986-01-02  25.56
1      1986-01-03  26.00
2      1986-01-06  26.53
3      1986-01-07  25.85
4      1986-01-08  25.87
...           ...    ...
10085  2026-01-27  62.04
10086  2026-01-28  62.75
10087  2026-01-29  64.77
10088  2026-01-30  64.50
10089  2026-02-02  61.60

[10090 rows x 2 columns]

In [2]:
import pandas as pd

# 1. Loading  the data into the 'oil_df' dataframe
url = "https://raw.githubusercontent.com/datasets/oil-prices/main/data/wti-daily.csv"
oil_df = pd.read_csv(url)

# 2. Convert 'Date' to actual datetime objects 
oil_df['Date'] = pd.to_datetime(oil_df['Date'])
start_date = '2020-01-01'
end_date = '2026-01-30'

# 4. Creating a filtered version of the dataframe
mask = (oil_df['Date'] >= start_date) & (oil_df['Date'] <= end_date)
filtered_oil_df = oil_df.loc[mask].copy()
print(filtered_oil_df.head())

           Date  Price
8569 2020-01-02  61.17
8570 2020-01-03  63.00
8571 2020-01-06  63.27
8572 2020-01-07  62.70
8573 2020-01-08  59.65

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="jujo",
  auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

In [4]:
mycursor.execute("use crypto_analysis")

In [5]:
mycursor.execute("""
    CREATE TABLE oil_prices(
        `date` DATE PRIMARY KEY,
        Price DECIMAL(18, 6)
        )
""")

In [7]:
import pandas as pd

data_to_insert = [tuple(x) for x in filtered_oil_df[['Date', 'Price']].values]

oil_query = """
INSERT INTO oil_prices (`date`, price) 
VALUES (%s, %s)
ON DUPLICATE KEY UPDATE price = VALUES(price)
"""

mycursor.executemany(oil_query, data_to_insert)
mydb.commit()

In [ ]:
#oil_prices - Query 1

In [10]:
#highest oil price

query_1 = "SELECT `date`, price FROM oil_prices ORDER BY price DESC LIMIT 1"
mycursor.execute(query_1)

highest_oil_price = mycursor.fetchall()

print("highest_oil_price:")
for row in highest_oil_price:
    print(f" `date`: {row[0]} | Price: {row[1]}")

highest_oil_price:
 `date`: 2022-03-08 | Price: 123.640000

In [ ]:
#oil_prices - Query 2

In [12]:
# 1. Query using the YEAR() function to group data by year
query_2 = """
SELECT 
    YEAR(`date`) AS oil_year, 
    AVG(price) AS avg_price 
FROM oil_prices 
GROUP BY oil_year
ORDER BY oil_year DESC
"""

mycursor.execute(query_2)

avg_oil_price_peryear = mycursor.fetchall()

print("Average Oil Price Per Year:")
print("-" * 30)
for row in avg_oil_price_peryear:
    # row[1] is a decimal, so we'll format it to 2 decimal places
    print(f"Year: {row[0]} | Avg Price: ${row[1]:.2f}")

Average Oil Price Per Year:
------------------------------
Year: 2026 | Avg Price: $60.04
Year: 2025 | Avg Price: $65.39
Year: 2024 | Avg Price: $76.63
Year: 2023 | Avg Price: $77.58
Year: 2022 | Avg Price: $94.90
Year: 2021 | Avg Price: $68.14
Year: 2020 | Avg Price: $39.16

In [ ]:
#oil_prices - Query 3 -  Show oil prices during COVID crash (March–April 2020).

In [13]:
query_3 = """
SELECT 
    `date`, 
    price 
FROM oil_prices 
where `date` LIKE '2020-03-%' OR `date` LIKE '2020-04-%'
ORDER BY `date` DESC
"""

mycursor.execute(query_3)

covid_crash = mycursor.fetchall()

print("covid_crash:")
for row in covid_crash:
    # row[1] is a decimal, so we'll format it to 2 decimal places
    print(f" `date`: {row[0]} | Price: {row[1]}")

covid_crash:
 `date`: 2020-04-30 | Price: 19.230000
 `date`: 2020-04-29 | Price: 15.040000
 `date`: 2020-04-28 | Price: 12.400000
 `date`: 2020-04-27 | Price: 12.170000
 `date`: 2020-04-24 | Price: 15.990000
 `date`: 2020-04-23 | Price: 15.060000
 `date`: 2020-04-22 | Price: 13.640000
 `date`: 2020-04-21 | Price: 8.910000
 `date`: 2020-04-20 | Price: -36.980000
 `date`: 2020-04-17 | Price: 18.310000
 `date`: 2020-04-16 | Price: 19.820000
 `date`: 2020-04-15 | Price: 19.960000
 `date`: 2020-04-14 | Price: 20.150000
 `date`: 2020-04-13 | Price: 22.360000
 `date`: 2020-04-09 | Price: 22.900000
 `date`: 2020-04-08 | Price: 24.970000
 `date`: 2020-04-07 | Price: 23.540000
 `date`: 2020-04-06 | Price: 26.210000
 `date`: 2020-04-03 | Price: 28.360000
 `date`: 2020-04-02 | Price: 25.180000
 `date`: 2020-04-01 | Price: 20.280000
 `date`: 2020-03-31 | Price: 20.510000
 `date`: 2020-03-30 | Price: 14.100000
 `date`: 2020-03-27 | Price: 15.480000
 `date`: 2020-03-26 | Price: 16.600000
 `date`: 2020-03-25 | Price: 20.750000
 `date`: 2020-03-24 | Price: 21.030000
 `date`: 2020-03-23 | Price: 23.330000
 `date`: 2020-03-20 | Price: 19.480000
 `date`: 2020-03-19 | Price: 25.090000
 `date`: 2020-03-18 | Price: 20.480000
 `date`: 2020-03-17 | Price: 26.960000
 `date`: 2020-03-16 | Price: 28.960000
 `date`: 2020-03-13 | Price: 31.720000
 `date`: 2020-03-12 | Price: 31.560000
 `date`: 2020-03-11 | Price: 33.130000
 `date`: 2020-03-10 | Price: 34.470000
 `date`: 2020-03-09 | Price: 31.050000
 `date`: 2020-03-06 | Price: 41.140000
 `date`: 2020-03-05 | Price: 45.900000
 `date`: 2020-03-04 | Price: 46.780000
 `date`: 2020-03-03 | Price: 47.270000
 `date`: 2020-03-02 | Price: 46.780000

In [14]:
query_4 = """
SELECT 
    `date`, 
    min(price) As lowest_price
FROM oil_prices 
group by `date`
ORDER BY price DESC
limit 1
"""

mycursor.execute(query_4)

lowest_price = mycursor.fetchall()

print("lowest_price :")
for row in lowest_price :
    # row[1] is a decimal, so we'll format it to 2 decimal places
    print(f" `date`: {row[0]} | Price: {row[1]}")

lowest_price :
 `date`: 2022-03-08 | Price: 123.640000

In [ ]:
#oil_prices - Query 5 volatility of oil prices (max-min difference per year)

In [15]:
query_5 = """
SELECT 
    YEAR(`date`) AS oil_year, 
    MIN(price) AS min_price,
    MAX(price) AS max_price,
    (MAX(price) - MIN(price)) AS price_spread
FROM oil_prices 
GROUP BY oil_year
ORDER BY oil_year DESC
"""

mycursor.execute(query_5)

volatility_of_oil_prices = mycursor.fetchall()

print("Volatility of Oil Prices (per year):")
print("-" * 55)
print(f"{'Year':<6} | {'Min':<10} | {'Max':<10} | {'Volatility':<10}")
print("-" * 55)

for row in volatility_of_oil_prices:
    # row[0]=Year, row[1]=Min, row[2]=Max, row[3]=Spread
    print(f"{row[0]:<6} | ${row[1]:>8.2f} | ${row[2]:>8.2f} | ${row[3]:>8.2f}")

Volatility of Oil Prices (per year):
-------------------------------------------------------
Year   | Min        | Max        | Volatility
-------------------------------------------------------
2026   | $   56.01 | $   64.77 | $    8.76
2025   | $   55.44 | $   80.73 | $   25.29
2024   | $   66.73 | $   87.69 | $   20.96
2023   | $   66.61 | $   93.67 | $   27.06
2022   | $   71.05 | $  123.64 | $   52.59
2021   | $   47.47 | $   85.64 | $   38.17
2020   | $  -36.98 | $   63.27 | $  100.25